
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Bad+Script&family=Montserrat:wght@100;200;300;400&family=Mooli&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

canvas {
    display: block;
    /* vertical-align: bottom; */
  } /* ---- particles.js container ---- */
#particles-js {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f2029;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    

} 
.contanair{
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5.5rem;
    overflow-x: hidden;
    
}
.boxs-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 2%;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 5rem;
    width: 13.5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 1.5rem;
    background-color: #96C291;
    color: #fff;
}
.libreey{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 5rem;
    width: 12rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 1.5rem;
    background-color: #567189;
    color: #fff;
}
.boxs-slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12rem;
    width: 70rem;
    background-color: #9ba4b5b1;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 5rem;
    border: 1px black solid;
}
.slides{
    display: flex;
    align-items: center;
    width:fit-content;
    display: none;
    
}
.active{
    display: block;
}
.quotes-txt{
    width: fit-content  ;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
    

}
h1{
    font-size:4.5rem ;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 10%;
   }
.boxs-category{
    margin-bottom: 5rem;
}
.boxs-category h1{
    font-size:4rem ;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 47%;
    left: 33%;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 55%;
    left: 38%;

}
.boxs-genarator{
    position: absolute;
    top: 70%;
    width: 70rem;
    height: 20rem;
    border: 1px black solid;
    background-color:#9ba4b5b1;
    border-radius: 40px ;
    -webkit-border-radius: 40px ;
    -moz-border-radius: 40px ;
    -ms-border-radius: 40px ;
    -o-border-radius: 40px ;
}   
.autgher{
    font-family: 'Aref Ruqaa', serif;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-left: 80%;
}
.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 28%;
    gap:1rem;
}
.btn{
    background-color: #000;
    border: none;
    height: 3rem;
    width: 10rem;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* margin-left: 44%; */

}
.btn:hover{
    background:#ff6a00 ;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

#category{
    width: 5rem;
    height: 2rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border:none;
    background-color:#9ba4b5b1;
}
.selected{
    background-color: #567189 !important;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 75%;
    margin-left: 1rem;
}
.material-symbols-outlined{
    font-size: 2rem !important;
    cursor: pointer !important;
    
    
}

.red{
    color: red;
    fill: red;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.bleu{
    color: blue;
    fill: blue;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}